body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Fugaz One", sans-serif;
	font-size:1000px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#00ffff;
	font-family:"Fugaz One", sans-serif;
	font-size:1000px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer023 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1080.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1920.00px;
}
#_idContainer001 {
	-ms-transform:translate(-80.000px,-52.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-80.000px,-52.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1156.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-80.000px,-52.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-80.000px,-52.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2052.00px;
}
#_idContainer002 {
	-ms-transform:translate(-33.000px,-39.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-33.000px,-39.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:189.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-33.000px,-39.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-33.000px,-39.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:2025.00px;
}
#_idContainer003 {
	-ms-transform:translate(-26.001px,-13.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-26.001px,-13.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:145.25px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-26.001px,-13.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-26.001px,-13.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:258.22px;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,150.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,150.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1080.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,150.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,150.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1920.00px;
}
#_idContainer005, #_idContainer006, #_idContainer007, #_idContainer009, #_idContainer010, #_idContainer011 {
	-ms-transform:translate(0.000px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:84.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:186.00px;
}
#_idContainer008 {
	-ms-transform:translate(1444.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1444.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1444.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1444.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:186.00px;
}
#_idContainer012 {
	-ms-transform:translate(1670.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1670.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1670.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1670.000px,36.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:186.00px;
}
#_idContainer013 {
	-ms-transform:translate(0.000px,1230.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,1230.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1080.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,1230.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,1230.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1920.00px;
}
#_idContainer014, #_idContainer015, #_idContainer016, #_idContainer019, #_idContainer020, #_idContainer021 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:508.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:823.00px;
}
#_idContainer017 {
	-ms-transform:translate(548.500px,1578.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(548.500px,1578.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:508.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(548.500px,1578.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(548.500px,1578.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:823.00px;
}
#_idContainer018 {
	-ms-transform:translate(0.000px,2310.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,2310.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1080.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2310.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,2310.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1920.00px;
}
#_idContainer022 {
	-ms-transform:translate(548.500px,2671.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(548.500px,2671.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:508.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(548.500px,2671.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(548.500px,2671.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:823.00px;
}
#_idContainer024 {
	-ms-transform:translate(0.000px,3390.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,3390.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1080.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,3390.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,3390.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1920.00px;
}
#_idContainer025, #_idContainer026, #_idContainer027, #_idContainer029, #_idContainer030, #_idContainer031, #_idContainer033, #_idContainer034, #_idContainer035, #_idContainer037, #_idContainer038, #_idContainer039 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.00px;
}
#_idContainer028 {
	-ms-transform:translate(398.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(398.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(398.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(398.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.00px;
}
#_idContainer032 {
	-ms-transform:translate(690.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(690.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(690.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(690.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.00px;
}
#_idContainer036 {
	-ms-transform:translate(982.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(982.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(982.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(982.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.00px;
}
#_idContainer040 {
	-ms-transform:translate(1273.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1273.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:244.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1273.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1273.000px,3808.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
div._idGenButton div._idGen-Appearance-Normal {
	visibility:visible;
}
div._idGenButton div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton {
	cursor:pointer;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Rollover {
	visibility:visible;
}
div._idGenButton._idGenStateHover div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenButton._idGenStateClick div._idGen-Appearance-Click {
	visibility:visible;
}
div._idGenStateHide div._idGen-Appearance-Normal {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Rollover {
	visibility:hidden;
}
div._idGenStateHide div._idGen-Appearance-Click {
	visibility:hidden;
}
div._idGenStateHide, div._idGenStateHide *{
	visibility:hidden;
}
