/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Fugaz One-Regular", sans-serif;
;
  background: #23262a;
  color: #fff;
}

/* WRAPPER */
.page-wrapper {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0rem;
}

/* HERO */
.hero img {
  width: 100%;
  height: auto;
}

/* LOGO */
.logo {
  text-align: center;
  margin: 6rem 3;
}

.logo img {
  max-width: 18rem;
}

/* NAV */
.main-nav {
  display: flex;
  justify-content: center;
  /*flex-direction: line;*/
  margin: 6rem 3rem;  
  /*justify-content: center;*/
  gap: 3rem;
}

.main-nav button {
  padding: 2.25rem 2.25rem;
  font-size: 1.8rem;
  background: white;
  color: black;
  border: 0rem solid white;
  border-radius: 25px; /* All corners rounded with 10px radius */
  padding: 20px;  
  cursor: pointer;
}

.main-nav button:hover {
  background: black;
  color: white;
}

/* CONTENT */
.content {
  display: grid;
  gap: 1rem;
}

.content video {
  display: grid;
  gap: 1rem;
}

.content img {
  width: 100%;
  height: auto;
}

/* FOOTER */
.socials {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 6rem 0;
}

.socials a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}

.socials a:hover {
  text-decoration: underline;
}

.copyr {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 3rem 0;
}

.copyr a {
  font-size: 9rem;
  color: white;
  text-decoration: none;
}

/* TABLET */
@media (max-width: 70rem) {
  .main-nav {
    flex-direction: column;
    margin: 6rem 3rem;
  }
}

/* MOBILE */
@media (max-width: 48rem) {
  html {
    font-size: 56.25%;
  }

  .logo img {
    max-width: 18rem;
  }
}

html {
  font-size: 62.5%; /* 10px base */
}

.social {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 1rem;
  list-style: none;
}

.social li {
  position: relative;
  flex-basis: 4.5rem;
}

.social li::after {
  position: absolute;
  /* content: "Tooltip"; */
  content: attr(data-tooltip);
  inset: -45% auto auto 50%;
  z-index: -1;
  translate: -50%;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  color: #fff;
  /* background: #070707; */
  background: var(--bg, #070707);
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transition: all 0.3s ease-in-out; */
  transition: inset 0.4s cubic-bezier(0.47, 2, 0.41, 1.5),
    visibility 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.social li:has(a:hover, a:focus-visible)::after {
  opacity: 1;
  visibility: visible;
  inset-block-start: -60%;
}

.social a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 1.75rem;
  color: #070707;
  border: 1px solid;
  border-radius: 100%;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.social a > i {
  position: relative;
  z-index: 1;
}

.social a::after {
  position: absolute;
  content: "";
  inset: 100% 0 0;
  /* background: #070707; */
  background: var(--bg, #070707);
  pointer-events: none;
  transition: inset 0.3s ease-in-out;
}

.social a:hover,
.social a:focus-visible {
  color: #fff;
}

.social a:hover::after,
.social a:focus-visible::after {
  inset-block-start: 0;
}




































