/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Fugaz One-Regular", sans-serif;
;
  background: #23262a;
  color: #fff;
}

/* WRAPPER */
.page-wrapper {
  max-width: 192rem;
  margin: 0 auto;
  padding: 0rem;
}

/* HERO */
.hero img {
  width: 100%;
  height: auto;
}

/* LOGO */
.logo {
  text-align: center;
  margin: 4rem 0;
}

.logo img {
  max-width: 37.5rem;
}

/* NAV */
.main-nav {
  /*display: flex;*/
  justify-content: center;
  /*flex-direction: column;*/
  margin: 6rem 0;  
  /*display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 6rem 0;*/
}

.main-nav button {
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  background: white;
  color: black;
  border: 0rem solid white;
  cursor: pointer;
}

.main-nav button:hover {
  background: black;
  color: white;
}

/* CONTENT */
.content {
  display: grid;
  gap: 1rem;
}

.content video {
  display: grid;
  gap: 1rem;
}

.content img {
  width: 100%;
  height: auto;
}

/* FOOTER */
.socials {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 6rem 0;
}

.socials a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}

.socials a:hover {
  text-decoration: underline;
}

.copyr {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 3rem 0;
}

.copyr a {
  font-size: 9rem;
  color: white;
  text-decoration: none;
}

/* TABLET */
@media (max-width: 70rem) {
  .main-nav {
    flex-direction: column;
    margin: 6rem 0;
  }
}

/* MOBILE */
@media (max-width: 48rem) {
  html {
    font-size: 56.25%;
  }

  .logo img {
    max-width: 22rem;
  }
}

html {
  font-size: 62.5%; /* 10px base */
}
























